@font-face {
  font-family: "Sysfont";
  src: url("/font/sysfont/sysfont.woff2") format("woff2"),
    url("/font/sysfont/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Sysfont";
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 20px 35px 0 20px;
  border: 5px solid black;
  box-shadow: 15px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 15px 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 15px 10px 0px 0px rgba(0, 0, 0, 1);

  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
}

main {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  &::before {
    content: "";
    height: calc(100% + 1px);
    float: left;
    visibility: hidden;
  }

  &::after {
    content: "";
    /* height: 100.09%; */
    width: calc(100% + 1px);
    float: left;
    visibility: hidden;
  }
}

.centering-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#selected_tab {
  text-decoration: underline;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: flex-start;
  padding-top: 3%;
  padding-right: 20%;
  align-content: space-around;
}

figcaption > h3 {
  /*
    width: fit-content;
    
    */
  text-transform: uppercase;
  text-align: center;
}

a figure {
  flex-basis: 25%;
  text-align: center;
}

a figure img {
  width: 50%;
}

/*
article {
    height: 26vh;
    width: 10vw;
    float: left;
}


main>nav>article {
    margin: 2em 3.5em;
}
*/

#profilepic {
  width: 8em;
}

/*ver isto depois*/

/* revisto */

#notes {
  /*ver isto*/
  width: 300px;
}

#aboutme_box {
  border: 5px solid black;
  margin-left: 35em;
  width: 378px;

  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

#aboutme_box > p {
  padding: 0.5em 1em;
  border-bottom: 5px solid black;
  margin-bottom: 2px;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: large;
  font-style: normal;
}
