@font-face {
  font-family: "Sysfont";
  src: url("/font/sysfont/sysfont.woff2") format("woff2"),
    url("/font/sysfont/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Sysfont";
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;

  --background-color: white;
  --foreground-color: black;
}

html.dark-mode {
  --background-color: blue;
  --foreground-color: #f7ff5f;
}

body {
  margin: 20px 35px 0 20px;
  border: 5px solid var(--foreground-color);
  box-shadow: 15px 10px 0px 0px var(--foreground-color);
  -moz-box-shadow: 15px 10px 0px 0px var(--foreground-color);
  -webkit-box-shadow: 15px 10px 0px 0px var(--foreground-color);

  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;

  color: var(--foreground-color);
  background-color: var(--background-color);
}

main {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

main::before {
  content: "";
  height: calc(100% + 1px);
  float: left;
  visibility: hidden;
}

main::after {
  content: "";
  /* height: 100.09%; */
  width: calc(100% + 1px);
  float: left;
  visibility: hidden;
}

.centering-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link {
  color: var(--foreground-color);
  text-decoration: none;
}

a:hover {
  color: var(--foreground-color);
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: var(--foreground-color);
  text-decoration: underline;
}

a:visited {
  color: var(--foreground-color);
  text-decoration: underline;
}

#selected_tab {
  text-decoration: underline;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: flex-start;
  padding-top: 3%;
  padding-right: 20%;
  align-content: space-around;
}

figcaption > h3 {
  /*
    width: fit-content;
    
    */
  text-transform: uppercase;
  text-align: center;
}

a figure {
  flex-basis: 25%;
  text-align: center;
}

a figure img {
  width: 50%;
}

#profilepic {
  width: 8em;
}

#notes {
  /*ver isto*/
  width: 300px;
}

#aboutme_box {
  border: 5px solid var(--foreground-color);
  margin-left: 35em;
  width: 378px;

  box-shadow: 5px 5px 0px 0px var(--foreground-color);
}

#aboutme_box > p {
  padding: 0.5em 1em;
  border-bottom: 5px solid var(--foreground-color);
  margin-bottom: 2px;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: large;
  font-style: normal;
}
