header {
  border-bottom: 5px solid var(--foreground-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6em;

  & > div span {
    height: 5px;
    background-color: var(--foreground-color);
  }

  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 5%;
    height: 80%;
    padding: 0 10px;
  }

  button {
    background-color: var(--background-color);
    height: calc(80% - 10px);
    border: 5px solid var(--foreground-color);
    aspect-ratio: 1/1;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    span {
      width: 100%;

      &:first-child {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;

        div {
          height: 5px;
          width: 5px;
          background-color: var(--foreground-color);
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;

        div:first-child {
          height: 5px;
          width: 15px;
          background-color: var(--foreground-color);
        }

        div:last-child {
          height: 5px;
          width: 25px;
          border-right: 5px solid var(--foreground-color);
          border-left: 5px solid var(--foreground-color);
        }
      }
    }
  }

  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 15%;
    height: 80%;
    padding: 0 10px;
  }

  div:nth-child(5) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    padding: 0 10px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    cursor: pointer;
    text-decoration: none;
  }

  a > h1 {
    font-size: 4em;
    font-weight: normal;
  }
}

html.dark-mode {
  header button span:last-child {
    div:first-child {
      height: 5px;
      width: 25px;
      border-right: 5px solid var(--foreground-color);
      border-left: 5px solid var(--foreground-color);
      background-color: var(--background-color);
    }

    div:last-child {
      height: 5px;
      width: 15px;
      background-color: var(--foreground-color);
    }
  }
}

nav {
  padding: 0.5em;
  font-size: 2em;
  border-bottom: 5px solid var(--foreground-color);
  text-transform: uppercase;
  height: fit-content;

  a {
    margin-right: 1em;

    &:hover,
    &:active,
    &:visited {
      cursor: pointer;
      text-decoration: none;
      border-bottom: 5px solid var(--foreground-color);
    }

    &[aria-current="page"] {
      border-bottom: 5px solid var(--foreground-color);
    }
  }
}
